MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
POSTGRES_HOST=postgres
POSTGRES_USER=rest_catalog
POSTGRES_PASSWORD=rest_catalog
POSTGRES_DB=rest_catalog
NESSIE_POSTGRES_DB=nessie